<section class="bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="align-self-center">
                    <h1 class= "display-4 text-white">
                        Venha conhecer nossas novidades...
                    </h1> <br>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident iure corrupti voluptate,
                      fuga doloribus laborum magnam eaque, odio error excepturi incidunt, et suscipit dolorum tempore ipsam
                       possimus voluptatibus aliquid!Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident iure corrupti voluptate,
                       fuga doloribus laborum magnam eaque, odio error excepturi incidunt, et suscipit dolorum tempore ipsam
                        possimus voluptatibus aliquid!
                    </p>
                </div>
            </div>

            <div class="col-md-6 d-none d-md-block">
                <img class="img-novidades p-5" src="/assets/Imagens controles/Controle2.jpg" alt="">
            </div>

        </div>

    </div>

</section>
