<section class="bg-primary">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <img class="img-banner p-5" src="/assets/Imagens controles/controle-videogame.png" alt="">
        </div>
        <div class="col-md-6 d-flex">   
           <div class="align-self-center mx-5">
                <h1 class="display-4">
                    Venha conhecer nosso diferencial!
                </h1> <br>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident iure corrupti voluptate,
                     fuga doloribus laborum magnam eaque, odio error excepturi incidunt, et suscipit dolorum tempore ipsam
                      possimus voluptatibus aliquid!Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident iure corrupti voluptate,
                      fuga doloribus laborum magnam eaque, odio error excepturi incidunt, et suscipit dolorum tempore ipsam
                       possimus voluptatibus aliquid!
                    </P>
                <a class="text-dark" href="#">Saiba mais</a>
           </div>
        </div>

    </div>

  </section>

  <app-destaque></app-destaque>