<section>
    <div class="row">
        <div class="text-center">
            <h1 class="display-4 mt-5">
                Que tal conhecer nossas obras em destaque...
            </h1>
            <p class="m-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident iure corrupti voluptate,
              fuga doloribus laborum magnam eaque, odio error excepturi incidunt, et suscipit dolorum tempore ipsam
               possimus voluptatibus aliquid!Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident iure corrupti voluptate,
               fuga doloribus laborum magnam eaque, odio error excepturi incidunt, et suscipit dolorum tempore ipsam
                possimus voluptatibus aliquid!
            </p>
        </div>
    </div>

      <div class="row">
          <div class="d-flex justify-content-center">
              <div class="galeria">
                  <a href="/assets/Imagens controles/Controle.jpg">
                      <img class="img-destaque img-thumbnail" src="/assets/Imagens controles/Controle.jpg" alt="">
                  </a>
                  <p>Jogo</p>
                  <p>Ano</p>    
              </div>
          
                  <div class="galeria">
                      <a href="/assets/Imagens controles/Controle.jpg">
                          <img class="img-destaque img-thumbnail" src="/assets/Imagens controles/Controle.jpg" alt="">
                      </a>
                      <p>Jogo</p>
                      <p>Ano</p>    
                  </div>
                  <div class="galeria">
                      <a href="/assets/Imagens controles/Controle.jpg">
                          <img class="img-destaque img-thumbnail" src="/assets/Imagens controles/Controle.jpg" alt="">
                      </a>
                      <p>Jogo</p>
                      <p>Ano</p>    
                  </div>
                  <div class="galeria">
                      <a href="/assets/Imagens controles/Controle.jpg">
                          <img class="img-destaque img-thumbnail" src="/assets/Imagens controles/Controle.jpg" alt="">
                      </a>
                      <p>Jogo</p>
                      <p>Ano</p>    
                  </div>
                  <div class="galeria">
                      <a href="/assets/Imagens controles/Controle.jpg">
                          <img class="img-destaque img-thumbnail" src="/assets/Imagens controles/Controle.jpg" alt="">
                      </a>
                      <p>Jogo</p>
                      <p>Ano</p>    
                  </div>
      </div>         
  </div>

</section>

<app-novidades></app-novidades>